* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f1f3f6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    width: 900px;
    height: 500px;
    background: white;
    display: flex;
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    overflow: hidden;
}


.left {
    width: 40%;
    background: #2874f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    text-align: center;
    color: white;
}

.logo img {
    width: 120px;
}

.logo p {
    margin-top: 10px;
    font-size: 14px;
}

.right {
    width: 60%;
    padding: 40px;
    position: relative;
}

.close {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 22px;
    cursor: pointer;
}

.right h2 {
    margin-bottom: 5px;
}

.sub {
    color: #777;
    font-size: 14px;
    margin-bottom: 30px;
}

label {
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.forgot {
    float: right;
    color: #2874f0;
    font-size: 12px;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.login-btn {
    flex: 1;
    background: #2874f0;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.signup-btn {
    flex: 1;
    background: white;
    color: #2874f0;
    border: 1px solid #2874f0;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.footer {
    margin-top: 40px;
    font-size: 12px;
    color: #777;
}

.footer span {
    color: #2874f0;
    cursor: pointer;
}
